
:host {

  display: flex;

  flex-direction: column;

  min-height: calc(100vh - 20px);

  width: 100%;

  justify-content: center;

  align-items: center;
}


.form-container {

  padding: 1.5rem;

  width: 100%;

  max-width: 400px;

  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 15px;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}


h2 {

  color: #333;

  margin-top: 0;

  margin-bottom: 1.5rem;

  font-weight: 600;

  border-bottom: 2px solid #3f51b5;

  padding-bottom: 0.5rem;

  display: inline-block;
}


.roteiro-form {

  display: flex;
  flex-direction: column;

  gap: 0.2rem;

  width: 100%;

  max-width: 400px;
}


.form-actions {

  display: flex;

  gap: 1rem;

}
