# Arquivos de ambiente com credenciais (CRUCIAL)
**/application.properties
**/.env

# Arquivos de Build/Compilação do Back-end (Spring/Maven)
/back/*/target/
/back/*.jar
/back/*/node_modules/

# Arquivos de Build/Dependências do Front-end (Angular/npm)
/front/node_modules/
/front/dist/
/front/tmp/
/front/*.tgz

# Arquivos da IDE
.idea/
.vscode/
*.iml


APRESENTACAO.md

RESUMO_PROJETO.md

