# Este é o Blueprint para o Render.
# Ele descreve todos os serviços e o banco de dados da aplicação.

databases:
  # Banco de Dados PostgreSQL
  - name: meu-roteiro-db
    plan: free
    databaseName: meu_roteiro_db # Nome do banco
    user: meu_roteiro_db_user   # Nome do usuário

services:
  # RabbitMQ como um Serviço Privado (não acessível pela internet)
  - type: pserv
    name: rabbitmq
    plan: free
    image:
      url: docker.io/library/rabbitmq:3-management-alpine

  # Backend: Roteiro Service
  - type: web
    name: roteiro-service
    plan: free
    env: docker
    dockerfilePath: ./Back/roteiro-service/Dockerfile
    dockerContext: ./Back/roteiro-service
    envVars:
      - key: SPRING_DATASOURCE_URL
        fromDatabase:
          name: meu-roteiro-db
          property: connectionString
      - key: SPRING_RABBITMQ_HOST
        fromService:
          name: rabbitmq
          property: host
      - key: SPRING_DATASOURCE_USERNAME
        fromDatabase:
          name: meu-roteiro-db
          property: user
      - key: SPRING_DATASOURCE_PASSWORD
        fromDatabase:
          name: meu-roteiro-db
          property: password
      - key: rabbitmq.queue.user.registered
        value: user.registered.queue
      - key: rabbitmq.queue.roteiro.criado
        value: roteiro.criado.queue

  # Backend: Email Service
  - type: web
    name: email-service
    plan: free
    env: docker
    dockerfilePath: ./Back/email-service/Dockerfile
    dockerContext: ./Back/email-service
    envVars:
      - key: SPRING_RABBITMQ_HOST
        fromService:
          name: rabbitmq
          property: host
      - key: SPRING_MAIL_HOST
        value: smtp.sendgrid.net
      - key: SPRING_MAIL_PORT
        value: 587
      - key: SPRING_MAIL_USERNAME
        value: apikey
      - key: SPRING_MAIL_PASSWORD
        sync: false # Será adicionado manualmente na interface do Render
      - key: SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH
        value: "true"
      - key: SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE
        value: "true"
      - key: rabbitmq.queue.user.registered
        value: user.registered.queue
      - key: rabbitmq.queue.roteiro.criado
        value: roteiro.criado.queue

  # Frontend: Roteiro Front
  - type: web
    name: roteiro-front
    plan: free
    env: docker
    dockerfilePath: ./Front/Dockerfile
    dockerContext: ./Front
    routes:
      - type: rewrite
        source: /api/(.*)
        destination: http://roteiro-service:8080/api/$1
      - type: rewrite
        source: /*
        destination: /index.html
    healthCheckPath: /
