
:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
  width: 100%;
  justify-content: center;
  align-items: center;
}


.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.auth-card {
  width: 100%;
  max-width: 350px;
  margin: auto;
}


mat-card-header {
  text-align: center;
  display: block;
}

mat-card-content {
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}


.auth-button {
  width: 100%;
  padding: 1rem 0;
}
.auth-actions {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.error-message {
  color: #f44336;
  text-align: center;
  margin-bottom: 1rem;
}
