server {
    listen 80;
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html index.htm;

    # Configuração para o Angular Router (trata o erro 404 de rotas)
    # Qualquer requisição que não for um arquivo existente, serve o index.html
    location / {
        try_files $uri $uri/ /index.html;
    }
}
