
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  overflow-x: hidden;
}


body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #333;

}


main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-top: 1rem;
  padding-top: 0 !important;
}


footer {
  background-color: #3f51b5;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: relative;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: auto;
}


mat-toolbar {
  background-color: #3f51b5 !important;
  min-height: 20px;
  height: 20px;
  padding: 0 16px;
}

mat-toolbar span {
  color: white;
}

mat-toolbar button {
  color: white !important;
}


.background-register, .background-login, .background-roteiro {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
}

.background-register {
  background-image: url('assets/images/background.jpg');
}
.background-login {
  background-image: url('assets/images/background2.jpg');
}
.background-roteiro {
  background-image: url('assets/images/background3.jpg');
}

/* ADICIONADO */
.background-roteiro-form {
  background-image: url('assets/images/background6.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.background-roteiro-list {
  background-image: url('assets/images/background8.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.auth-card, .form-container, .roteiro-card, .empty-state, mat-tab-group {
  background-color: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
}


.auth-card {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

